[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
requests = "*"

[dev-packages]
pytest = "*"
pytest-subtests = "*"
flake8 = "*"
isort = "*"
black = "*"
pyright = "*"
pyyaml = "*"
pytest-django = "*"

[requires]
python_version = "3.10"
